.login-container {
  margin-top: 50px;
  text-align: center;
}

.enter-username-title-description {
  padding-bottom: 10px;
}

input[type=text] {
  width: 50%;
  padding: 12px 20px;
  margin-bottom: 25px;
  box-sizing: border-box;
  border: none;
  background-color: #6379FF;
  color: white;
  border-radius: 10px;
}

input[type=text]:focus {
  text-align: center;
  outline: none;
}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.submit-button {
  background-color: #DB1360; /* Green */
}
